<p id="notice"><%= notice %></p>

<h1>Glasses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glasses.each do |glass| %>
      <tr>
        <td><%= glass.name %></td>
        <td><%= link_to 'Show', glass %></td>
        <td><%= link_to 'Edit', edit_glass_path(glass) %></td>
        <td><%= link_to 'Destroy', glass, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glass', new_glass_path %>
